{% if lib_argparsing.name == "clap" %}use clap::Parser;{% endif %}

{% if lib_argparsing.name == "clap" %}#[derive(Parser, Debug)]
#[command(version)]
/// {{ description }}
struct Args {
    /// Name of the person to greet
    #[arg(short, long)]
    name: String,

    /// Number of times to greet
    #[arg(short, long, default_value_t = 1)]
    count: u8,
}{% endif %}

fn main() {
    {% if lib_argparsing.name == "clap" %}let args = Args::parse();

    for _ in 0..args.count {
        println!("Hello {}!", args.name);
    }{% endif %}
}